.footer_mainContainer{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #35819f;
}
.footerInfo_element{
    display: flex;
    flex-direction: row;
}
.footerUs_element{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
}
.footer_link{
    text-decoration: none;
    color: #111;
}
.footer_link:hover{
    color:#35819f ;
}
.footer_social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Media q*/
@media screen and (max-width:900px) {
    .footer_mainContainer{
        flex-direction: column;
        align-items: center;
    }
    .footer_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}